<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Новости</title>
    <link href="../css/main.css" rel="stylesheet" />
</head>

<body>
    <header></header>
    <main>
        <div class="container">
            <div class="news-container">
                <div class="news-block">
                    <h3 class="news-title">Новость1</h3>
                    <p class="news-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, cupiditate
                        commodi corporis inventore ut vel iure. At tempore blanditiis corporis accusamus sequi dolorem!
                        Voluptas accusantium esse, voluptatum asperiores temporibus minus.
                        In repudiandae pariatur quidem nisi earum mollitia facilis harum ullam fugit minima numquam
                        doloribus quae consectetur aut dolorum quibusdam, distinctio aspernatur cupiditate modi optio
                        culpa. Soluta nihil odio maxime officia.
                        Laborum ipsam quae odio temporibus unde debitis rem fuga quia nemo, nam suscipit! Ex distinctio
                        nemo ipsam facere. Ratione quod iste aliquam? Sunt nobis mollitia autem saepe libero quidem
                        assumenda.
                        Dolore quod harum maiores ea iste natus quas consequuntur pariatur porro a quibusdam mollitia
                        perferendis iure, corporis quaerat iusto laudantium aut in vitae optio nam obcaecati tempore
                        itaque! Id, illum!</p>
                </div>
                <div class="news-block">
                    <h3 class="news-title">Новость2</h3>
                    <p class="news-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi, qui dolorum sit
                        dicta assumenda reiciendis nesciunt maiores consequatur modi voluptatem aperiam ex impedit
                        reprehenderit laborum culpa quo at. Adipisci, explicabo?
                        Culpa sed veritatis molestiae dolores esse dicta id aliquam ducimus porro eaque fugit
                        consequatur consectetur eos odio, perferendis modi! Nihil corporis tenetur molestias vitae quam
                        optio voluptate est deleniti exercitationem!
                        Laudantium consequuntur dolores provident in mollitia! Expedita nulla dolores laborum ut
                        mollitia sit, praesentium enim aliquid delectus nemo? Accusamus nihil odit suscipit dignissimos
                        vel, laboriosam itaque sint quidem ipsum accusantium.</p>
                </div>
                <div class="news-block">
                    <h3 class="news-title">Новость3</h3>
                    <p class="news-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam dolorum, qui
                        nostrum ut cumque impedit labore numquam nesciunt doloremque. Corporis, modi similique
                        consequatur consequuntur velit aut animi corrupti quibusdam itaque.</p>
                </div>
                <div class="news-block">
                    <h3 class="news-title">Новость4</h3>
                    <p class="news-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam blanditiis
                        reprehenderit, tempora dicta corporis neque incidunt impedit veniam quia sint ratione pariatur
                        sed, error quas amet ex quaerat voluptate deleniti!
                        Inventore sapiente architecto debitis nihil asperiores veritatis eligendi optio explicabo,
                        fugiat vero id temporibus nobis sit nulla dolores omnis accusantium sint nisi? Rerum
                        voluptatibus accusamus corrupti beatae eum. Fugit, suscipit?</p>
                </div>
            </div>
        </div>

    </main>
    <script src="../js/import-nav.js"></script>
</body>

</html>